@media screen and (min-width:320px) {
    .container {
        max-width: 428px;
    }

    .advantages-item-name {
        text-align: center;
    }

    .technology {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }

    .header-logo {
        margin-right: 120px;;
    }

    .btn-menu-open {
        display: none;
    }

    .header-menu-icon {
        display: none;
    }

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-menu-link {
        color: #2E2F42;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-menu-link.current {
        color: #404bbf;
    }
    
    .header-menu-link:hover,
    .header-menu-link:focus {
        color: #404BBF;
    }
    
    .header-contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .header-contacts {
        color: #434455;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    
    .header-contacts-link {
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-contacts-link:hover,
    .header-contacts-link:focus {
        color: #404BBF;
    }

    .advantages-item-list {
        width: 100%;
        width: calc((100% - 24px) / 2);
    }

    .advantages-item {
        row-gap: 72px;
        column-gap: 24px;
    }

    .advantages-item-name {
        text-align: left;
    }

    .team-list-member {
        width: calc((100% - 24px) / 2);
    }

    .team-list {
        row-gap: 64px;
        column-gap: 24px;
        max-width: 552px;
        width: 100%;
        margin: 0 auto;
    }

    .customers {
        max-width: 768px;
        width: 100%;
    }

    .customers-block {
        width: 168px;
    }

    .customers-list {
        row-gap: 72px;
        column-gap: 24px;
        max-width: 552px;
        width: 100%;
        margin: 0 auto;
    }

    .customers-item-list {
        width: calc((100% - 2 * 24px) / 3);
    }

    .footer {
        max-width: 768px;
        width: 100%;
    }

    .logo-social-media {
        display: flex;
        flex-wrap: wrap;
        max-width: 584px;
        width: 100%;
        row-gap: 72px;
        column-gap: 24px;
    }

    .social-media {
        margin-bottom: 0;
        width: 264px;
    }

    .social-media-list {
        justify-content: start;
    }

    .footer-logo-slogan {
        max-width: 264px;
        text-align: left;
        margin-bottom: 0;
        margin-left: 0;
    }

    .social-media-title {
        text-align: left;
    }

    .subscribe-title {
        text-align: left;
    }

    .footer-form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px
    }

    .footer-subscribe-form {
        display: block;
        max-width: 453px;
        width: 100%;
    }

    .footer-input {
        width: 264px;
    }

    .footer-form-btn {
        margin: 0 auto;
    }

    .technology {
        display: none;
    }

    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                url(../images/Dark-bg-tableto.jpg);
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/Dark-bg-2x-tab-opt.jpg);
    }
}

}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
    }

    .header-menu-icon {
        display: none;
    }

    .header-menu {
        display: flex;
        gap: 40px;
}

    .header-menu-link {
        color: #2E2F42;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .header-menu-link.current {
        color: #404bbf;
}

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: #404BBF;
}

    .header-contacts-list {
        display: flex;
        gap: 40px;
}

    .header-contacts {
        color: #434455;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

    .header-contacts-link {
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .header-contacts-link:hover,
    .header-contacts-link:focus {
        color: #404BBF;
}

    .advantages {
        padding: 120px 0;
    }

    .advantages-item-list {
        width: 100%;
        width: calc((100% - 24px * 3) / 4);
    }

    .advantages-item {
        gap: 24px;
    }

    .advantages-item-name {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: left;
    }

    .advantages-description {
        font-weight: 400;
    }

    .advantages-block {
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: #F4F4FD;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .technology {
        display: block;
        }

    .team {
        padding: 120px 0;
    }

    .team-list {
        gap: 24px;
        width: 100%;
        max-width: 1158px;
    }

    .team-list-member {
        width: calc((100% - 3 * 24px) / 4);
    }

    .customers {
        max-width: 1158px;
        width: 100%;
        padding: 120px 0;
        margin: 0 auto;
    }

    .customers-block {
        width: 168px;
    }

    .customers-list {
        gap: 24px;
        width: 100%;
        max-width: 1158px;
    }

    .customers-item-list {
        width: calc((100% - 5 * 24px) / 6);
    }

    .footer {
        max-width: 1440px;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .logo-social-media {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
        max-width: 1158px;
        width: 100%;
        gap: 0;
    }
    
    .footer-logo-slogan {
        margin-right: 120px;
        max-width: 264px;
        width: 100%;
        margin-bottom: 0;
    }
    
    .social-media {
        margin-right: 80px;
    }

    .social-media-title {
        text-align: left;
    }

    .footer-form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    
    .footer-subscribe-form {
        display: block;
        max-width: 552px;
        width: 100%;
    }
    
    .footer-input {
        width: 264px;
    }
    
    .footer-form-btn {
         margin: 0 auto;
    }

    .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
       rgba(46, 47, 66, 0.70)),
        url(../images/people-office.jpg);
    }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/people-office-2x-opt.jpg);
    }
}
    
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

}