:root {
    --primary-font: "Roboto", sans-serif;
    --primary-text-color: #434455;
    --primary-white-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-inline-start: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    /* max-width: 1158px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-menu {
    display: none;
    gap: 40px;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: '';
    background: #404BBF;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-color {
    color: #2E2F42;
}

.header-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-menu-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
    color: #404bbf;
}

.header-menu-link:hover, .header-menu-link:focus {
    color: #404BBF;
}

.header-contacts-list {
    display: none;
    gap: 40px;
}

.header-contacts {
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover, .header-contacts-link:focus {
    color: #404BBF;
}

.btn-menu-open {
    border: none;
    background-color: transparent;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 16px;
}

.mob-menu-all {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    padding: 24px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-menu-close {
    display: block;
    margin-left: auto;
    margin-bottom: 32px;
    margin-right: 24px;
    border-radius: 50%;
    background-color: transparent;
    border-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.mob-menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #404BBF;
}

.mob-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-contacts-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

.mob-contacts-link-tel {
    color: #4D5AE5;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 353px;
}

.mob-contacts-list {
    gap: 48px;
    display: flex;
    flex-direction: column;
}

.mob-list-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.mob-list-socials-contacts {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;

}

.mob-guide-socials-icons {
    fill: #f4f4fd;
}

.hero {
    /* max-width: 1440px; */
    max-width: 428px;
    background-color: #2E2F42;
    /* padding: 188px 0; */
    padding: 112px 54px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
        ),
        url(../images/Dark-bg-mobileo.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                    url(../images/Dark-bg-2x-mob-opt.jpg);
        }
}

.hero-title {
    color: #FFF;
    text-align: center;
    /* font-size: 56px; */
    font-weight: 700;
    /* line-height: 1.07; */
    letter-spacing: 0.02em;
    /* max-width: 496px; */
    min-width: 320px;
    margin: 0 auto;
    /* margin-bottom: 48px; */
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
}

.hero-btn {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor:pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin-top: 48px;
    display:block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

.advantages {
    /* padding: 120px 0; */
    padding: 96px 0;
}

.advantages-block {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.advantages-item {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
}

.advantages-item-list {
    width: 100%;
    /* width: calc((100% - 24px * 3) / 4); */
}

.advantages-item-name {
    color:  #2E2F42;
    /* font-size: 20px; */
    /* font-weight: 500; */
    /* line-height: 1.2; */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}

.advantages-description {
    color: #434455;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.technology {
    padding-bottom: 120px;
}

.technologies {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.technologies-photo {
    display: flex;
    gap: 24px;
}

.technologies-photo-list {
    border: 1px solid #E7E9FC;
    background:#E7E9FC;
    width: calc((100% - 24px * 2) / 3);
}

.project-item-description {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team {
    background-color: #F4F4FD;
    /* padding: 120px 0; */
    padding: 96px 67px 96px 67px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-guide {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display:flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
    width: 100%;
    max-width: 428px;
}

.team-name-position {
    padding: 32px 0;
}

.team-list-member {
    background-color: #fff;
    /* width: calc((100% - 3 * 24px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-name {
    background-color: #FFFFFF;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-position {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-socials-contacts {
    width: 40px;
    height: 40px;
}

.team-list-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-socials-link:is(:hover, :focus) {
    background-color: #404BBF;
}

.team-list-socials {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-guide-socials-icons {
    fill:  #f4f4fd;
}

.customers {
    /* padding: 120px 0; */
    padding: 96px 0;
    width: 100%;
    max-width: 428px;
}

.castomers-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    row-gap: 72px;
    column-gap: 16px;
}

.customers-item-list {
    width: calc((100% - 16px) / 2);
}

.customers-block {
    /* width: 168px; */
    width: 190px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-block:hover,
.customers-block:focus {
    color: #404BBF;
    border-color: #404bbf;
}

.customers-item-icons {
    fill: currentColor;
}

.footer {
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding-top: 96px;
    padding-bottom: 96px;
    /* max-width: 1440px; */
    max-width: 428px;
}

.footer-slogan {
    color:  #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* max-width: 264px; */
    max-width: 268px;
}

.footer {
    background-color: #2E2F42;
}

.logo-social-media {
    /* display: flex; */
    /* align-items: baseline;
    justify-content: center; */
}

.footer-logo-slogan {
    /* margin-right: 120px; */
    margin: 0 auto;
    max-width: 268px;
    text-align: center;
    margin-bottom: 72px;
}

.footer-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #F4F4FD;
}

.social-media {
    /* margin-right: 80px; */
    margin-bottom: 72px;
}

.social-media-title {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.social-media-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:is(:hover, :focus) {
    background-color: #31d0aa;
}

.social-media-contacts {
    width: 40px;
    height: 40px;
}

.contacts-socials-icons {
    fill: #f4f4fd;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.filter-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:  #F4F4FD;
    color:  #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    margin: 0 auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-item-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    align-content: flex-start;
}

.project-item-link:hover, .project-item-link:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-item-link {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:is(:hover, :focus) .project-cover-text {
    transform: translateY(0%);
}

.project-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-item-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.project-item-specific {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.project-image {
    position: relative;
    overflow: hidden;
}

.project-cover-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: #FCFCFC;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
    background-color: #E7E9FC;
    border-radius: 50%;
    border-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility:hidden;
    pointer-events: none;
}

.modal-title {
    color: #2E2F42;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: #FCFCFC;
    padding: 0 11px 0 38px;
    color: #2E2F42;
    outline: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.modal-input:is(:hover, :focus) + .input-icon {
    fill: #4D5AE5;
}

.modal-input:is(:hover, :focus) {
    border-color: #4D5AE5;
}

.input-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 0 11px 0 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.modal-text-area:is(:hover, :focus) {
    border-color: #4D5AE5;
}

.modal-text-area::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.check-text {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
    margin-bottom: 24px;
}

.modal-privacy-link {
    color: #4D5AE5;
}

.check-terms {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text .check-terms {
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.send-btn {
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
    background-color: #404BBF;
}

.subscribe-title {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.footer-subscribe-form {
    /* display: block; */
    max-width: 398px;
    width: 100%;
}

.footer-form {
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px; */
}

.footer-input {
    /* width: 264px; */
    width: 100%;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
}

.footer-input::placeholder {
    color: #FFFFFF;
    font-size: 2;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-right: 24px;
}

.footer-form-btn {
    min-width: 165px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    margin-top: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #404BBF;
}

.subscribe-icon {
    margin-left: 16px;
}